<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Soundcloud Download</title>
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% javascripts
            '@PersoSoundcloudBundle/Resources/public/js/*'
            output="js/compiled/script.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% stylesheets 
            '@PersoSoundcloudBundle/Resources/public/css/reset.css'
            '@PersoSoundcloudBundle/Resources/public/css/main.css'
            output='css/compiled/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

    <body>
        <header class="header">
            <div class="header-search">
                <img src="../img/logo_sound_pxl.png">
                <form action="{{ path('soundcloud_getlikes') }}" accept-charset="utf-8" method="post">
                    <input type="text" name="userurl" id="userurl" placeholder="Votre url soundcloud">
                    <input type="submit" name="getlikes" value="">  
                </form>
            </div>
        </header>
            <section class="content">
                {% if likes is defined %}
                    {% set rand = random(1000) %}
                    <form action="{{ path('soundcloud_download', { 'temp': rand}) }}" method="post" accept-charset="utf-8" id="download-form">
                        <nav class="nav">
                            <div class="info_select_song nav-grid">
                                <p><span>3 chansons</span> sont sélectionnées</p>
                            </div>                
                            <div class="download_bt nav-grid">
                                <input type="submit" name="submit" value="Telecharger les chansons selectionnees" id="download">
                                 <input type="submit" name="submit" value="Tout telecharger" id="all_download">
                            </div>
                            <div class="song_organisation nav-grid">
                                <ul>
                                    <li><img src="../img/orga-list.svg"></li>
                                    <li class="select"><img src="../img/orga-grid.svg"></li>
                                </ul>
                            </div>
                        </nav>
                        {% for id, like in likes %}
                            <article class="song">
                                <div class="content-song ">
                                    <img src="{{like.cover}}">
                                    <div class="content-info">
                                        <div class="info">
                                            <h3>{{like.artist |  truncate(14, false, '...') }}</h3>
                                            <h4>{{like.title |  truncate(30, false, '...') }}</h4>
                                        </div>
                                        <div class="checkbox_content">
                                            <input type="checkbox" name="id" value="{{id}}" class="checkbox">
                                        </div>
                                        <p style="display:none;"><input type="text" name="title" value="{{like.title}}"></p>
                                        <p style="display:none;"><input type="text" name="link" value="{{like.link}}"></p>
                                    </div> 
                                <div>
                            </article>
                        {% endfor %}
                    </form>
                {% endif %}
            </section>
        <script>
            {% if likes is defined %}
                $(function()
                {
                    $('#download').on('click', function(e)
                    {
                        e.preventDefault();
                        var data = $("#download-form").serializeArray();
                        var likes = {};

                        $('article.song').each(function()
                        {
                            if($(this).find('.checkbox').prop('checked')){
                                var id    = $(this).find('input[name=id]').val(),
                                    title = $(this).find('input[name=title]').val(),
                                    link  = $(this).find('input[name=link]').val();
                                
                                likes[id] = {};
                                likes[id]['title'] = title;
                                likes[id]['link']  = link;
                            }
                        })

                        var data = {'user_id':'{{user_id}}', 'likes':likes};

                        $.ajax({
                            type: "POST",
                            url: "{{ path('soundcloud_download', { 'temp': rand}) }}",
                            data: data,
                            success: function()
                            {
                                document.location = "{{ path('soundcloud_getfile', {'temp': rand}) }}";
                            }
                        });
                    });
                })
            {% endif %}
        </script>
    </body>
</html>